@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Rubik:wght@300&display=swap');

body {
    margin: 10px;
    background-color: bisque;
    font-family: 'Archivo Narrow', sans-serif;
}

h1 {
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: black;
    font-size: 50px;
    text-align: center;
    color: white;
}

.gallery-template {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
}

div.gallery {
    background-color: white;
    border: 3px solid lightpink;
    width: 100%;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    margin: 65px 65px 20px 65px;
    padding-bottom: 1px;
    width: 200px;
    height: 150px;
}

div.desc {
    text-align: center;
    border: 4px solid lightpink;
    margin-left: 65px;
    width: 60%;
}

.work_button {
    background-color: none;
    width: max-content;
    font-size: 8px;
    display: flex;
    align-items: center;
    column-gap: .25rem;
    padding: 2px;
}

.work_button:hover .work_icon {
    transform: translateX(.25rem);
}

.bx {
    font-size: 1rem;
    transition: .4s;
    color: black;
}

input[type="work_button"] {
    text-align: center;
    border: 1px solid black;
    margin-left: 130px;
    width: 20%;
    border-radius: 10%;
}